@import 'includes/_var';
@import 'includes/_fonts';
@import 'includes/_reset';

.wrapper {
	width: 1366px;
	position: relative;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	padding: 0;
}

header.header {
	.header-top {
		padding: 15px 95px;
		background-color: $headerTopBackground;
		.left-align {
			ul {
				li {
					display: inline-block;
					margin-right: 35px;
					a {
						font-size: 13px;
						color: $lightBlue;
						text-decoration: none;
						position: relative;
						transition: .3s;
						&::after {
							content: '';
							position: absolute;
							left: 0;
							bottom: 0;
							width: 0;
							height: 1px;
							background-color: $lightBlue;
							transition: .3s;
						}
						&:hover {
							&::after {
								width: 100%;
							}
						}
					}
				}
			}
		}
		.right-align {
			ul {
				li {
					display: inline-block;
					margin-left: 15px;
					position: relative;
					input {
						position: absolute;
						top: 8px;
						width: 0;
						opacity: 0;
						border-radius: 3px;
						border: none;
						height: 25px;
					    right: -25px;
					    top: -17px;
					    padding-left: 4px;
					    background-color: $headerTopBackground;
					    color: #fff;
					}
					#search {
						// display: none;
					}
					&:nth-child(3) {
						margin-right: 25px;
					}
					&:last-child {
						a {
							background-color: transparent;
							border: none;
							color: #b3c5d1;
							padding: 0;
							position: absolute;
							top: -16px;
							&:hover {
								opacity: .9;
								transition: .3s;
								transform: none;
							}			
							i {
							    font-size: 24px;
							}
						}
					}
					a {
						height: 24px;
						width: 24px;
						background-color: #9ab2c2;
						display: block;
						text-align: center;
						border-radius: 100%;
						border: 1px solid #b6c7d3;
						font-size: 12px;
						padding: 2px;
						color: $headerTopBackground;
						transition: .3s;
						&:hover {
							opacity: .8;
							transition: .3s;
						}
					}
				}
			}
		}
	}
	.header-middle {
		height: 130px;
		width: 100%;
		background-image: url(../img/header-background.jpg);
		padding: 33px 48px;
		.slogan {
			font-size: 16px;
			color: #fff;
		}
		.logo {
			margin-bottom: 12px;
			display: block;
			width: 271px;
		}
	}
	.header-bottom {
		background-color: $headerBottomBackground;
		nav {
			width: 100%;
			ul {
				padding: 0;
				margin: 0;
				li {
					text-align: center;
					border-right: 1px solid #fff;
					&:last-child {
						border-right: none;
					}
					a {
						color: #fff;
						width: 100%;
						display: block;
						font-size: 13px;
						text-transform: uppercase;
						text-decoration: none;
						transition: .3s;
						padding: 12px 0;
						&::after {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							margin: auto;
							width: 0;
							height: 100%;
							background-color: rgba(255,255,255,.1);
							transition: .3s;
						}
						&:hover {
							&::after {
								width: 100%;
							}
						}						
					}
				}
			}
		}
	}
}

// homepage

main.home {
	.main-inner	{
		padding: 0 36px;
	}
	.main-inner-10 {
		padding: 0 26px 30px;	
	}
	.announcement {
		.left {
			background-color: #fcfcfc;
			padding: 0;
			padding: 15px 20px;
			margin-bottom: 15px;
			ul {
				margin-bottom: 20px;
				width: 100%;
				li {
					display: inline-block;
					width: 50%;
					float: left;
				}
				.title {
					font-size: 20px;
					color: #003d66;
					margin-bottom: -7px;
				}
				.all {
					a {
						font-size: 13px;
						color: #3e85b4;
						font-family: OpenSansLight;
						text-decoration: none;
						position: relative;
						float: right;
						opacity: .9;
						transition: .3s;
						&::after {
							content: '';
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 1px;
							background-color: #3e85b4;
							transition: .3s;
						}		
						&:hover {
							opacity: 1;
							transition: .3s;
						}				
					}
				}
			}
			.an-block {
				.an {
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
					.thumb {
						width: 190px;
						height: 90px;
						margin-right: 23px;
						float: left;
						background-size: cover; 
						background-position: center center; 
					}				
					.info {
						width: calc(100% - 213px);
						float: right;
						.time {
							font-family: OpenSansSemibold;
							font-size: 21px;
							margin-bottom: -8px;
						}
						.title {
							font-size: 18px;
							line-height: 2.2;
						}
						.links {
							li {
								width: 100px;
								height: 25px;
								border: 1px solid #98a8b3;
								border-radius: 3px;
								text-align: center;
								&:first-child {
									margin-right: 14px;
								}
								a {
									font-size: 13px;
									color: #8d9ca6;
									font-family: OpenSansLight;
									text-decoration: none;
									height: 100%;
									width: 100%;
									display: block;
									padding-top: 1px;
									position: relative;
									&::after {
										position: absolute;
										content: '';
										top: 0;
										left: 0;
										margin: auto;
										bottom: 0;
										right: 0;
										height: 0;
										background-color: rgba(141, 156, 166, .1);
										width: 100%;
										transition: .3s;
									}
									&:hover {
										&::after {
											width: 100%;
											transition: .3s;
											height: 100%;
											border-radius: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.right {
			padding: 0;
			.video-js {
				height: 360px;
				width: 100%;
			}
			.onl {
				position: absolute;
				bottom: 0;
				width: 100%;
				background-color: rgba(255,255,255,.8);
				text-align: center;
				color: #1f1f1f;
				font-size: 20px;
				text-decoration: none;
				height: 50px;
				padding-top: 10px;
				transition: .3s;
				i {
					padding-left: 8px;
					color: #147abf;
				}
				&:hover {
					background-color: rgba(255,255,255,.9);
					transition: .3s;
				}
			}
		}
	}
	.blocks {
		.block-wrapper {
			padding: 10px;
		}
		.block {
			width: 100%;
			padding: 0;
			ul {
				width: 100%;
				padding: 10px 20px ;
				background-color: #0070bb;
				li {
					display: inline-block;
					float: left;
					&:first-child {
						font-size: 16px;
						color: #fff;
						width: 70%;
					}
					&:last-child {
						width: 30%;
						a {
							font-size: 13px;
							color: #fff;
							font-family: OpenSansLight;
							text-decoration: none;
							position: relative;
							float: right;
							opacity: .9;
							transition: .3s;
							&::after {
								content: '';
								position: absolute;
								left: 0;
								bottom: 0;
								width: 100%;
								height: 1px;
								background-color: #fff;
								transition: .3s;
							}		
							&:hover {
								opacity: 1;
								transition: .3s;
							}				
						}
					}
				}
			}	
			.info {
				width: 100%;
				position: relative;
				padding: 10px 20px;
				background-color: #fcfcfc;
				height: 270px;
				overflow: auto;
				&.info-big {
					height: 310px;
					margin-top: 10px;
				}
				&.last-video {
					table {
						tr {
							td {
					    		&:first-child {
					    			width: 30%;
					    		}
					    		&:last-child {
					    			width: 70%;
					    		}								
							}
						}
					}
				}
			}
			table {
			    width: 100%;
			    max-width: 100%;
			    tr {
			    	font-size: 15px;
			    	font-family: OpenSansLight;
			    	position: relative;
			    	border-bottom: 1px solid #ebedec;
			    	&:last-child {
			    		border-bottom: none;
			    	}
			    	td {
			    		vertical-align: top;
			    		padding: 14px 0;
			    		&.vid-info {
			    			padding-left: 0 !important;
			    		}
			    		.thumb {
			    			width: 120px;
			    			height: 50px;
			    			background-size: cover;
			    			background-position: center center;  
			    		}
			    		.title {
			    			padding-bottom: 4px;
			    		}
			    		.title,
			    		.date {
			    			color: #333333;
			    			line-height: 1;
			    			margin-bottom: -2px;
			    		}
			    		.view {
			    			a {
			    				color: #3e85b4;
				    			font-size: 14px;
				    			text-decoration: underline;
				    			transition: .3s;
				    			line-height: 1;
				    			&:hover {
				    				transition: .3s;
				    				color: $headerTopBackground;
				    			}
			    			}
			    		}
			    		&:first-child {
			    			color: #808080;
			    		}
			    		&:last-child {
			    			color: #4c4c4c;
			    			padding-left: 20px;
			    		}
			    	}
			    }
			}		
		}
	}
	.owl-carousel {
		.item {
			background-color: #fcfcfc;
			float: left;
			padding: 25px 140px;
			.left {
				text-align: center;
				border-right: 1px solid #fbfbfb;
				padding: 0;
				.ava {
					display: block;
					margin: 0 auto;
					width: 124px;
					height: 124px;
					border-radius: 100%;
					background-size: cover;
				}
				.name {
					font-size: 18px;
					color: #333333;
				}
				.position {
					font-size: 15px;
					color: #808080;
				}
			}
			.right {
				border-left: 1px solid #f3f3f3;
				padding: 0;
				padding-left: 20px;
				.title {
					a {
						font-size: 20px;
						color: #003d66;
						text-decoration: none;
						transition: .3s;
						&:hover {
							opacity: .8;
							transition: .3s;
						}
					}
				}
				.content {
					font-size: 15px;
					color: #333;
					padding: 8px 0;
					line-height: 1.7;
				}
				.view {
					font-size: 14px;
					color: #3e85b4;
					display: block;
					text-decoration: underline;
				}
			}
		}
	}
	.projects {
		margin-top: 15px;
		.top {
			ul {
				width: 100%;
				padding: 10px 20px ;
				background-color: #0070bb;
				li {
					display: inline-block;
					float: left;
					&:first-child {
						font-size: 16px;
						color: #fff;
						width: 70%;
					}
					&:last-child {
						width: 30%;
						a {
							font-size: 13px;
							color: #fff;
							font-family: OpenSansLight;
							text-decoration: none;
							position: relative;
							float: right;
							opacity: .9;
							transition: .3s;
							&::after {
								content: '';
								position: absolute;
								left: 0;
								bottom: 0;
								width: 100%;
								height: 1px;
								background-color: #fff;
								transition: .3s;
							}		
							&:hover {
								opacity: 1;
								transition: .3s;
							}				
						}
					}
				}
			}	
		}
		.inner {
			background-color: #fcfcfc;
			float: left;
			margin-top: 10px;
			padding-top: 15px;
			padding-left: 23px;
			padding-right: 23px;
			padding-bottom: 20px;
			margin-bottom: 30px;
			.item {
				padding: 0 8px;
				.thumb {
					height: 144px;
					width: 100%;
					background-size: cover;
				}
				.title {
					font-size: 14.99px;
					color: #4c4c4c;
					font-family: OpenSansLight;
					padding: 10px 0;
				}
				.view {
					a {
						font-size: 13.99px;
						color: #3e85b4;
						font-family: OpenSansLight;
						text-decoration: underline;
						transition: .3s;
						&:hover {
							color: $headerTopBackground;
							transition: .3s;
						}
					}
				}
			}
		}
	}
}

// footer

footer.footer {
	background-color: $headerTopBackground;
	width: 100%;
	float: left;
	padding-bottom: 20px;
	color: #d4dfe6;
	a {
		color: #d4dfe6;
		font-size: 14px;
		line-height: 1.9;
		text-decoration: none;
		position: relative;
		transition: .3s;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 1px;
			background-color: $lightBlue;
			transition: .3s;
		}
		&:hover {
			&::after {
				width: 100%;
			}
		}		
	}	
	.footer-inner {
		padding: 28px 67px;
	}
	.title {
		font-size: 15px;
		color: #edd05e;
		text-transform: uppercase;
		position: relative;
		display: inline-block;
		cursor: pointer;
		&.title-img {
			&::after {
				display: none;
			}
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 1px;
			background-color: #edd05e;
			transition: .3s;
		}
		&:hover {
			&::after {
				width: 100%;
			}
		}				
	}
	.divider {
		background-color: #426664;
		width: 80%;
		height: 1px;
		margin: 15px 0;
	}
	.col {
		width: 20%;
		float: left;
		.social {
			margin: 10px 0;
				li {
					display: inline-block;
					margin-left: 15px;
					position: relative;
					&:first-child {
						margin-left: 0;
					}
					&:nth-child(2) {
						a {
							background-position: -43px -2px 
						}
					}
					&:last-child {
						a {
							background-position: -84px -2px 
						}						
					}
					a {
						height: 24px;
						width: 24px;
						background-image: url(../img/sprite-header.png);
						display: block;
						text-align: center;
						border-radius: 100%;
						border: 1px solid #b6c7d3;
						font-size: 12px;
						padding: 2px;
						color: $headerTopBackground;
						transition: .3s;
						background-position: -2px;
						&::after {
								display: none;
							}
						&:hover {
							opacity: .8;
							transition: .3s;
						}
					}
				}
		}
	}
}

// about

main.about {
	padding: 15px;
	padding-bottom: 40px;
	ul {
		li {
			padding-left: 10px;
			position: relative;
			line-height: 1.6;
			&::before {
			    content: '';
			    position: absolute;
			    left: 1px;
			    top: 9px;
			    height: 4px;
			    width: 4px;
			    background-color: #1f1f1f;
			    border-radius: 100%;
			}
		}
	}
	.breadcrumb {
		padding: 15px 0;
		ul {
			li {
				display: inline-block;
				position: relative;
				margin-right: 17px;
				color: #4c4c4c;
				font-size: 15px;
				padding-left: 0;
				&::before {
					display: none;
				}
				&:last-child {
					margin-right: 0;
					&::after {
						display: none;
					}
				}
				&::after {
					content: "\f105";
					position: absolute;
					right: -14px;
					top: 0;
					font-family: FontAwesome;
					color: #000;
				}
				a {
					font-size: 15px;
					color: #3e85b4;
					font-family: OpenSansSemibold;
					text-decoration: none;
				}
			}
		}
	}
	h1 {
		font-size: 20px;
		color: #003d66;
		font-weight: 400;
		margin-bottom: 3px;
	}
	h2 {
		font-size: 20px;
		color: #003d66;
		font-weight: 400;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 15px;
		color: #808080;
		font-family: OpenSansLight;
		margin-bottom: 3px;
	}
	p {
		font-size: 15px;
		color: #1f1f1f;
		margin: 0;
		line-height: 1.6;
	}
	.video-block {
		margin: 10px 0;
	}
	.video {
		padding: 0;
	} 
	.video-js {
		width: 100%;
		height: 200px;
	}
	.left {
		width: 295px;
		float: left;
	}
	.right {
		width: calc(100% - 295px);
		float: right;
		padding-left: 20px;
	}
	.authors {
		.author {
			padding: 30px 0 10px;
			.ava {
				width: 165px;
				height: 165px;
				background-size: cover;
				border-radius: 100%; 
				float: left;
			}
			.info {
				float: right;
				width: calc(100% - 185px);
			}
			.title {
				font-size: 18px;
				color: #333;
			}
			.position {
				font-size: 15px;
				color: #808080;
			}
			p {
				font-size: 15px;
				color: #333333;
				margin: 10px 0;
			}
			ul {
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					padding-left: 20px;
					position: relative;
					&::before {
						display: none;
					}
					&:first-child {
						margin-right: 13px;
						&::after {
							content: '\f003';
							position: absolute;
							left: 0;
							top: 1px;
							font-family: FontAwesome;
							color: #f1ce42;
						}
						a {
							font-size: 15px;
							color: #3e85b4;
							text-decoration: none;
							transition: .3s;
							&:hover {
								opacity: .8;
								transition: .3s;
							}
						}
					}
					&:last-child {
						&::after {
							content: '\f095';
							position: absolute;
							left: 5px;
							top: 2px;
							font-family: FontAwesome;
							color: #f1ce42;
						}
						a {
							font-size: 15px;
							color: #333333;
							text-decoration: none;
							transition: .3s;
							&:hover {
								opacity: .8;
								transition: .3s;
							}							
						}
					}
				}
			}
		}
	}
	.awards {
		padding: 20px 0;
		table {
		    width: 100%;
    		max-width: 100%;
    		border: 1px solid #c3c3c3;
    		margin: 25px 0 0;
    		text-align: left;
    		tr {
    			th {
    				padding: 15px 20px;
    				vertical-align: middle;
    				font-size: 15px;
    				color: #1f1f1f;
    				font-family: OpenSansSemibold;
    				border-bottom: 1px solid #c3c3c3;
    				&:first-child {
    					width: 5%;
    				}
    				&:nth-child(2) {
    					width: 15%;
    				}
    				&:nth-child(3) {
    					width: 15%;
    				}
    				&:nth-child(4) {
    					width: 25%;
    				}
    				&:nth-child(5) {
    					width: 10%;
    				}
    				&:nth-child(6) {
    					width: 30%;
    				}
    			}
    			td {
    				padding: 15px 20px;
    				font-size: 15px;
    				color: #1f1f1f;
    				font-family: OpenSansLight;
    				vertical-align: top;
    				&:first-child {
    					width: 5%;
    				}
    				&:nth-child(2) {
    					width: 15%;
    				}
    				&:nth-child(3) {
    					width: 15%;
    				}
    				&:nth-child(4) {
    					width: 25%;
    				}
    				&:nth-child(5) {
    					width: 10%;
    				}
    				&:nth-child(6) {
    					width: 30%;
    				}    				
    			}
    		}
		}
	}
	.vacancies {
		color: #1f1f1f;
		.vacancy {
			.title {
				border-bottom: 1px solid #ebedec;
				padding-bottom: 10px;
				.name {
					font-family: OpenSansSemibold;
					font-size: 18px;
				}
				ul {
					li {
						display: inline-block;
						padding-left: 0;
						font-family: OpenSansLight;
						font-size: 15px;
						&::before {
							display: none;
						}
						&:last-child {
							float: right;
						}
					}
				}
			}
			.vacancy-description {
				font-size: 14px;
				padding: 12px 0 0;
				ul {
					margin-bottom: 12px;
					li {
						line-height: 1.8;
						&::before {
							top: 12px;
						}
					}
				}
			}
			.respond {
				border-top: 1px solid #ebedec;
				padding-top: 10px;
				form {
					padding: 13px 0 40px;
					font-size: 13px;
					font-family: OpenSansLight;
					label {
						color: #8d9ca6;
						border: 1px solid #8d9ca6;
						border-radius: 3px;
						padding: 10px;
						cursor: pointer;
						position: relative;
						&::after {
							position: absolute;
							content: '';
							top: 0;
							left: 0;
							margin: auto;
							bottom: 0;
							right: 0;
							height: 0;
							background-color: rgba(141, 156, 166, .1);
							width: 100%;
							transition: .3s;
						}
						&:hover {
							&::after {
								width: 100%;
								transition: .3s;
								height: 100%;
								border-radius: 0;
							}
						}						
					}
					#resume {
						display: none;
					}
					input[type="submit"] {
						background-color: $headerTopBackground;
						border-radius: 3px;
						border: 1px solid $headerTopBackground;
						padding: 10px 17px;
						color: #fff;
						margin-left: 8px;
						transition: .3s;
						&:hover {
							background-color: #fff;
							color: $headerTopBackground;
							border: 1px solid #8d9ca6;
						}
					}
				}
			}
		}
	}
	.contacts {
		#map {
		    width: 100%;
			height: 309px;
		}
		.contact-info {
			margin-top: 20px;
			.title {
				color: #003d66;
				font-size: 18px;
				margin-bottom: 5px;
			}
			p {
				font-size: 15px;
			}
			ul.common {
				li {
					padding-left: 13px;
					&::before {
						left: 4px;
					}
				}
			}
			ul.links {
				margin-top: 20px;
				li {
					padding-left: 20px;
					line-height: 2;
					a {
						color: #3e85b4;
					}
					&::before {
						display: none;
					}
					&:first-child {
						&::after {
							content: '\f0ac';
							position: absolute;
							left: 2px;
							top: 0px;
							font-family: FontAwesome;
							color: #f1ce42;
						}
					}
					&:last-child {
						&::after {
							content: '\f003';
							position: absolute;
							left: 1px;
							top: 0px;
							font-family: FontAwesome;
							color: #f1ce42;
						}
					}
				}
			}
			form {
				input {
					display: block;
					width: 100%;
					margin-bottom: 10px;
					background-color: #f7f7f7;
					color: #7e7e7e;
					font-size: 13px;
					font-family: OpenSansLight;
					border: none;
					border-radius: 3px;
					padding-left: 14px;
					height: 35px;
					&[type="submit"] {
						background-color: $headerTopBackground;
						border-radius: 3px;
						border: 1px solid $headerTopBackground;
						padding: 0;
						color: #fff;
						margin-left: 8px;
						transition: .3s;
						width: 115px;
						margin-left: 0;
						&:hover {
							background-color: #fff;
							color: $headerTopBackground;
							border: 1px solid #8d9ca6;
						}
					}
					&.error {
						border: 1px solid red;
						background-color: rgba(255, 0, 0, .1);
					}	
				}
				textarea {
					display: block;
					width: 100%;
					margin-bottom: 10px;
					background-color: #f7f7f7;
					color: #7e7e7e;
					font-size: 13px;
					font-family: OpenSansLight;
					border: none;
					border-radius: 3px;
					padding-left: 14px;
					resize: none;
					height: 70px;
					padding-top: 10px;
					&:focus {
						outline: none
					}
					&.error {
						border: 1px solid red;
						background-color: rgba(255, 0, 0, .1);
					}
				}
				label.error {
				    margin-top: -5px;
				    display: block;
				    margin-bottom: 5px;
				    color: red;
				    font-size: 12px;
				}
			}
		}
	}
}
main.program {
	ul.choose-block {
		margin-top: 15px;
		li {
			display: inline-block;
			padding: 0;
			font-size: 14px;
			&::before {
				display: none;
			}
			&:first-child {
				font-size: 20px;
				color: #1f1f1f;
				margin-right: 74px;
			}
			input {
				color: #7f7f7f;
				border: 1px solid #f2f2f2;
				border-radius: 3px;
				width: 158px;
				height: 34px;
				padding-left: 10px;
				margin-left: 10px;
				margin-right: 40px;
				&.error {
				  border: 1px solid red;
				}
			}
			input[type="submit"] {
				background-color: $headerTopBackground;
				border-radius: 3px;
				border: 1px solid $headerTopBackground;
				color: #fff;
				margin-left: 8px;
				transition: .3s;
				width: 95px;
				&:hover {
					background-color: #fff;
					color: $headerTopBackground;
					border: 1px solid #8d9ca6;
				}
			}
			color: #333333;
		}
	}
}