@import 'includes/_var';
@import 'includes/_fonts';
@import 'includes/_reset';

.wrapper {
	width: 1366px;
	position: relative;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	padding: 0;
}

header.header {
	.header-top {
		padding: 15px 95px;
		background-color: $headerTopBackground;
		.left-align {
			ul {
				li {
					display: inline-block;
					margin-right: 35px;
					a {
						font-size: 13px;
						color: $lightBlue;
						text-decoration: none;
						position: relative;
						transition: .3s;
						&::after {
							content: '';
							position: absolute;
							left: 0;
							bottom: 0;
							width: 0;
							height: 1px;
							background-color: $lightBlue;
							transition: .3s;
						}
						&:hover {
							&::after {
								width: 100%;
							}
						}
					}
				}
			}
		}
		.right-align {
			ul {
				li {
					display: inline-block;
					margin-left: 15px;
					position: relative;
					input {
						position: absolute;
						top: 8px;
						width: 0;
						opacity: 0;
						border-radius: 3px;
						border: none;
						height: 25px;
					    right: -25px;
					    top: -17px;
					    padding-left: 4px;
					    background-color: $headerTopBackground;
					    color: #fff;
					}
					#search {
						// display: none;
					}
					&:nth-child(3) {
						margin-right: 25px;
					}
					&:last-child {
						a {
							background-color: transparent;
							border: none;
							color: #b3c5d1;
							padding: 0;
							position: absolute;
							top: -16px;
							&:hover {
								opacity: .9;
								transition: .3s;
								transform: none;
							}			
							i {
							    font-size: 24px;
							}
						}
					}
					a {
						height: 24px;
						width: 24px;
						background-color: #9ab2c2;
						display: block;
						text-align: center;
						border-radius: 100%;
						border: 1px solid #b6c7d3;
						font-size: 12px;
						padding: 2px;
						color: $headerTopBackground;
						transition: .3s;
						&:hover {
							opacity: .8;
							transition: .3s;
						}
					}
				}
			}
		}
	}
	.header-middle {
		height: 130px;
		width: 100%;
		background-image: url(../img/header-background.jpg);
		padding: 33px 48px;
		.slogan {
			font-size: 16px;
			color: #fff;
		}
		.logo {
			margin-bottom: 12px;
			display: block;
		}
	}
	.header-bottom {
		background-color: $headerBottomBackground;
		nav {
			width: 100%;
			ul {
				padding: 0;
				margin: 0;
				li {
					text-align: center;
					border-right: 1px solid #fff;
					&::last-child {
						border-right: none;
					}
					a {
						color: #fff;
						width: 100%;
						display: block;
						font-size: 13px;
						text-transform: uppercase;
						text-decoration: none;
						transition: .3s;
						padding: 12px 0;
						&::after {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							margin: auto;
							width: 0;
							height: 100%;
							background-color: rgba(255,255,255,.1);
							transition: .3s;
						}
						&:hover {
							&::after {
								width: 100%;
							}
						}						
					}
				}
			}
		}
	}
}

main.home {
	.main-inner	{
		padding: 0 36px;
	}
	.main-inner-10 {
		padding: 0 26px 30px;	
	}
	.announcement {
		.left {
			background-color: #fcfcfc;
			padding: 0;
			padding: 15px 20px;
			margin-bottom: 15px;
			ul {
				margin-bottom: 20px;
				width: 100%;
				li {
					display: inline-block;
					width: 50%;
					float: left;
				}
				.title {
					font-size: 20px;
					color: #003d66;
					margin-bottom: -7px;
				}
				.all {
					a {
						font-size: 13px;
						color: #3e85b4;
						font-family: OpenSansLight;
						text-decoration: none;
						position: relative;
						float: right;
						opacity: .9;
						transition: .3s;
						&::after {
							content: '';
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 1px;
							background-color: #3e85b4;
							transition: .3s;
						}		
						&:hover {
							opacity: 1;
							transition: .3s;
						}				
					}
				}
			}
			.an-block {
				.an {
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
					.thumb {
						width: 190px;
						height: 90px;
						margin-right: 23px;
						float: left;
						background-size: cover; 
						background-position: center center; 
					}				
					.info {
						width: calc(100% - 213px);
						float: right;
						.time {
							font-family: OpenSansSemibold;
							font-size: 21px;
							margin-bottom: -8px;
						}
						.title {
							font-size: 18px;
							line-height: 2.2;
						}
						.links {
							li {
								width: 100px;
								height: 25px;
								border: 1px solid #98a8b3;
								border-radius: 3px;
								text-align: center;
								&:first-child {
									margin-right: 14px;
								}
								a {
									font-size: 13px;
									color: #8d9ca6;
									font-family: OpenSansLight;
									text-decoration: none;
									height: 100%;
									width: 100%;
									display: block;
									padding-top: 1px;
									position: relative;
									&::after {
										position: absolute;
										content: '';
										top: 0;
										left: 0;
										margin: auto;
										bottom: 0;
										right: 0;
										height: 0;
										background-color: rgba(141, 156, 166, .1);
										width: 100%;
										transition: .3s;
									}
									&:hover {
										&::after {
											width: 100%;
											transition: .3s;
											height: 100%;
											border-radius: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.right {
			padding: 0;
			.video-js {
				height: 360px;
				width: 100%;
			}
			.onl {
				position: absolute;
				bottom: 0;
				width: 100%;
				background-color: rgba(255,255,255,.8);
				text-align: center;
				color: #1f1f1f;
				font-size: 20px;
				text-decoration: none;
				height: 50px;
				padding-top: 10px;
				transition: .3s;
				i {
					padding-left: 8px;
					color: #147abf;
				}
				&:hover {
					background-color: rgba(255,255,255,.9);
					transition: .3s;
				}
			}
		}
	}
	.blocks {
		.block-wrapper {
			padding: 10px;
		}
		.block {
			width: 100%;
			padding: 0;
			ul {
				width: 100%;
				padding: 10px 20px ;
				background-color: #0070bb;
				li {
					display: inline-block;
					float: left;
					&:first-child {
						font-size: 16px;
						color: #fff;
						width: 70%;
					}
					&:last-child {
						width: 30%;
						a {
							font-size: 13px;
							color: #fff;
							font-family: OpenSansLight;
							text-decoration: none;
							position: relative;
							float: right;
							opacity: .9;
							transition: .3s;
							&::after {
								content: '';
								position: absolute;
								left: 0;
								bottom: 0;
								width: 100%;
								height: 1px;
								background-color: #fff;
								transition: .3s;
							}		
							&:hover {
								opacity: 1;
								transition: .3s;
							}				
						}
					}
				}
			}	
			.info {
				width: 100%;
				position: relative;
				padding: 10px 20px;
				background-color: #fcfcfc;
				height: 270px;
				overflow: auto;
				&.info-big {
					height: 310px;
					margin-top: 10px;
				}
				&.last-video {
					table {
						tr {
							td {
					    		&:first-child {
					    			width: 30%;
					    		}
					    		&:last-child {
					    			width: 70%;
					    		}								
							}
						}
					}
				}
			}
			table {
			    width: 100%;
			    max-width: 100%;
			    tr {
			    	font-size: 15px;
			    	font-family: OpenSansLight;
			    	position: relative;
			    	border-bottom: 1px solid #ebedec;
			    	&:last-child {
			    		border-bottom: none;
			    	}
			    	td {
			    		vertical-align: top;
			    		padding: 14px 0;
			    		&.vid-info {
			    			padding-left: 0 !important;
			    		}
			    		.thumb {
			    			width: 120px;
			    			height: 50px;
			    			background-size: cover;
			    			background-position: center center;  
			    		}
			    		.title {
			    			padding-bottom: 4px;
			    		}
			    		.title,
			    		.date {
			    			color: #333333;
			    			line-height: 1;
			    			margin-bottom: -2px;
			    		}
			    		.view {
			    			a {
			    				color: #3e85b4;
				    			font-size: 14px;
				    			text-decoration: underline;
				    			transition: .3s;
				    			line-height: 1;
				    			&:hover {
				    				transition: .3s;
				    				color: $headerTopBackground;
				    			}
			    			}
			    		}
			    		&:first-child {
			    			color: #808080;
			    		}
			    		&:last-child {
			    			color: #4c4c4c;
			    			padding-left: 20px;
			    		}
			    	}
			    }
			}		
		}
	}
}